<div class="index-container">
  <img src="/images/beer.png" alt="image-beer-glass" class="home-page-image">
</div>
<div class="viewport-links">
  <a href="/beer" class="main-links-1">Check the Beers!</a>
  <a href="/randomBeer" class="main-links-2">Check a Random Beer!</a>
</div>
