<html>
  <head>
    <title>Hello World</title>
      <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    {{> navbar}}
    {{{ body }}}
  {{!-- <footer>
  <p>Develop by IronHack ;)</p>
  </footer> --}}
  </body>
</html>